body{
    background-color:rgb(95, 87, 87);
    font-family: 'Arial', sans-serif;
    text-align: center;
    font-size: x-large;
    line-height: 1.6;
    margin:0;
}
nav{
    display:flex;
    justify-content: space-between;
}
form li{
    display:flex;
    justify-content: space-between;
    padding: 5px;

}
.right-side{
    text-align: right;
    padding-right: 70px;
}
.left-side{
    text-align: left;
    padding-left: 50px;
    padding: 12px 130px;
    
}
nav li{
    display: inline-flex;
    color:white;
    
}

li a{
    color:white;
    text-align: center;
    padding: 12px 15px;
    text-decoration: none;
    
    
}
li a:hover{
    color:black;
}
li a:active{
    text-decoration-line: underline;
    text-decoration-color: black;
}

footer{
   background-color: rgb(30, 29, 29);
   color: antiquewhite;
   padding:35px;
   text-align: center;
   font-size:medium;
   border-radius: 15px;
}
p.big{
    float:right;
    display: flex;
    color: rgb(53, 49, 49);
}
p{
    display: flex;
    color: rgb(53, 49, 49);
    text-align: left;

}

form {
    display:flex;
    flex-direction:column;
}
section {
    padding: 40px;
	animation: fadeIn 4s 1;
}

@keyframes slideIn {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
  }
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.1);
    }
  }
form label {
    color:antiquewhite;
    font-weight: bolder;
    text-align:start;
}


input[type=text], select,textarea {
    width: 90%;
    height: 50%;
    padding: 12px 40px;
    margin: 8px 0;
    display:flex;
    position: relative;
    border: 1px solid #ccc;
    border-radius: 14px;
  }
  button[type=submit] {
    width: 20%;
    background-color: rgb(122, 118, 156);
    color: white;
    padding: 25px 40px;
    font-weight: bolder;
    font-size: large;
    margin: 8px 0;
    border-width: 5px;
    border-radius: 10px;
    border-color: antiquewhite;
    cursor: pointer;
   
  }
  #abc{
    float: left;
    border-radius: 30px;
    animation: fadin 1s 1;
  }
  .def{
    float: right;
    border-radius: 30px;
    animation: fadin 1s 1;
  }
  section h1:hover{
    color: black;

  }
#about{
    background-color: rgb(156, 112, 112);
    margin:20px;
    padding-left: 150px;
    padding-right: 200px;
    padding-top: 30px;
    padding-bottom: 400px;
    border-radius: 50px;
    
}
#education{
    background-color: rgb(144, 127, 158);
    margin:20px;
    padding-left: 150px;
    padding-right: 200px;
    padding-top: 30px;
    padding-bottom: 100px;
    border-radius: 50px;
    
}
#skills{
    background-color: rgb(68, 130, 141);
    margin:20px;
    padding-left: 150px;
    padding-right: 200px;
    padding-top: 30px;
    padding-bottom: 100px;
    border-radius: 50px;
    
}
#download{
    background-color: rgb(122, 118, 156);
    margin:10px;
    padding-left: 350px;
    padding-right: 400px;
    padding-top: 30px;
    padding-bottom: 50px;
    border-radius: 50px;
    
}

#contact{
    background-color: rgb(156, 118, 136);
    margin: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 50px;
    
}
h1{
    color: white;
}
header{
    text-align: left;
    color:white;
    padding:40px;
}
